
body {
  font-family: Arial;
  background-color: linen;
  margin: 0px; /**this is a comment*/
}
a {
  color: red;
}
img {
  width: 200px;
}
p span {
  font-weight: bold;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px; 
}
.content {
  height: 200px;
  position: absolute;
  top: 60px;
  padding: 10px;
  z-index: 0;
}
/**
.footer {
  background-color: #0f215d;
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  z-index: 10;
  }
*/
